@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yekanBakh-Regular;

  src: url('../src/fonts/woff/YekanBakhFaNum-Regular.woff') format("woff");
}

@font-face {
  font-family: yekanBakh-Bold;

  src: url('../src/fonts/woff/YekanBakhFaNum-Bold.woff') format("woff");
}

@font-face {
  font-family: rokh;

  src: url('../src/fonts/woff/Rokh-Black.ttf') format("truetype");
}

@font-face {
  font-family: stretch;

  src: url('../fonts/StretchPro.otf') format("opentype");
}

body {
  font-family: yekanBakh-Bold;
  overflow-x: hidden;
  user-select: none;
}

a {
  cursor: pointer;
}
.serviceBoxBefore::before {
  content: url('../src/img/Pattern.png');
  position: absolute;
  left: 0;
  top: 0;
}
html[dir='ltr'] .serviceBoxBefore::before {
  right: 0;
  left: auto;
  transform: rotateY(-180deg);
}
.banner .swiper-button-next::after,
.banner .swiper-button-prev::after {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.banner .swiper-pagination-bullet {
  width: 8px !important;
  height: 26px !important;
  background-color: #D9D9D9 !important;
  border-radius: 15px !important;
  transition: all .4s;
  opacity: 100%;
}

.banner .swiper-pagination-bullet-active {
  height: 34px !important;
  background-color: #232340 !important;
}
.swiper-pagination {
  top: auto !important;
  bottom: 3px !important;
}

.swiper-pagination-bullet,
.solution .swiper-pagination-bullet {
  width: 10px !important;
  height: 6px !important;
  background-color: #919191 !important;
  border-radius: 60px !important;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  background-color: #8D50EF;
}

.swiper-pagination-bullet-active,
.solution .swiper-pagination-bullet-active {
  opacity: 100% !important;
  background: #8D50EF !important;
  width: 33px !important;
  height: 6px;
  border-radius: 60px;
}

.services .swiper-pagination {
  bottom: -7px !important;
}

.services2 .swiper-pagination-bullet-active {
  background-color: #110E2D !important;
}

#services .swiper-button-prev::after,
#services .swiper-button-next::after,
#services .swiper-button-prev2::after,
#services .swiper-button-next2::after {
  content: '' !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
#services .swiper-button-prev2:hover,
#services .swiper-button-next2:hover
{
  background-color: #8D50EF !important;
}

.services .swiper-pagination-bullet {
  background-color: white;
  opacity: 25%;
  height: 6px;
  border-radius: 60px;
}

.swiper-pagination-bullet {
  transition: all .4s !important;
}
.services-section p, .services-section span {
  text-align: justify !important;
  opacity: 50%;
}
.services-section img {
  max-width: 581px;
  width: 100%;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}
.services-section ul {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  margin-right: 1rem;
  border-right-width: 2px;
  border-style: dashed;
  border-color: #00000026;
  padding-right: 18px;
}
.services-section ul li:first-child {
  padding-top: 0px;
}
.services-section ul li {
  font-size: 0.875rem;
  padding-top: 26px;
  line-height: 1.25rem;
  color: #8f8f8f;
}
.services-section ul li::before {
  content: url('../src/img/solar_check-circle-bold-duotone.png');
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 47px;
}
.services-section table {
  width: 100%;
  overflow: hidden;
  border-radius: 18px;
  text-align: right;
}
.services-section thead {
  color:#1d2c47;
}
.services3.swiper {
  width: 100%!important;
  height: 100%!important;
}
table tr:first-child th:first-child {
  border-top-right-radius: 18px;
}
table tr:first-child th:last-child {
  border-top-left-radius: 18px;
}
.services-section th {
  border-width: 1px;
  border-color: #0000001A;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-top: 0;
}
.services-section tbody > :nth-child(2n+1) {
  background-color:#f8f8f8;
}
.services-section tbody td {
  border-width: 1px;
  border-color: #0000001A;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 0.6;
  border-bottom: 0;
  font-size: 12px;
}
.mobileMenu {
  background-color: #fffffff5;
  border: 1px solid #00000026;
  display: none;
}

.mobileMenu.active {
  display: block;
}

.dropdownBtn svg.active {
  transform: rotate(0);
}

.dropdownContent,
.dropdown {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
}

.dropdown.active {
  max-height: 2000px;
  padding: 22px;
  margin-top: 12px;
}

.dropdownContent.active {
  max-height: 2000px;
  margin-top: 32px;
  overflow: visible;
}

.drop-shadow-team {
  filter: drop-shadow(8px 23px 34px #8D50EF);
}

.overlay.active {
  opacity: 100%;
  top: 0;
  z-index: 50;
}

@media (max-width: 1024px) {
  .services-section ul li::before {
    right: 23px;
  }
}

@media only screen and (max-width: 640px) {
  
  .banner .swiper-pagination-bullet {
    width: 3px !important;
    height: 9px !important;
    margin: 0 3px!important;
  }
  
  .banner .swiper-pagination-bullet-active {
    height: 12px !important;
  }
  
  }